<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>React Project</title>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <h2>Home</h2>
        <form method="POST" action="/detail">
            <input type="text" name="name" placeholder="character name" required maxlength="50">
            <button>Search Em!</button>
        </form>
        <h3>Bad DnD Character</h3>
        {{#each badDnDChar}}
        <li><a href="/detail?name={{name}}">{{name}}</a></li>
        {{/each}} 
        



        <div id='root'></div>
            <script type='text/babel'>
        
            const Welcome = (props) => {
                console.log(props);
                return <h1> Hello, {props.myname}</h1>
            } //CLOSES WELCOME PROP
            
            const List = (props) => {
                let items_list= props.items.map((item) => {
                return<li key={item._id}>{item.name}
                    </li>
                });
                return(
                <div>
                    Character List
                    <ul>
                        {items_list}
                    </ul>
                </div>
            );
            }

            // Define app container Component 
            class App extends React.Component {
                 constructor(props) {
                     super(props);  
                     this.state = {
                     items: {{{badDnDChar}}},
                     curItem: {}
                     };//END OF STATE
                }//CLOSES CONSTRUCTOR PROPS

                render(){
                return(
                    <div>
                        <Welcome myname='Ariel' />
                        <List items = {this.state.items}/>
                    </div>
                );
                } //CLOSES RENDER 

            } //CLOSES REACT COMPONENT
            
            ReactDOM.render(<App/>, document.getElementById('root'));  
        </script> 
    </body>
</html>


<script>
                //     });
                //     return( 
                //         <div> Character List
                //             <ul>
                //                 {items_list}
                //             </ul>
                //         </div>
                //     )
                // } 
                // render() {
                //         return(
                //             <div>
                //                 <List items={this.state.items}
                //                 /> List
                //             </div>
                //         );


</script>